:root {
  --color-background: theme('colors.blackish');
  --color-text: theme('colors.whiteish');
  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: "Geist";
  src:  url('../fonts/Geist/GeistVariableVF.woff2') format('woff2'),
        url('../fonts/Geist/GeistVariableVF.ttf') format('truetype');
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Geist', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  color: var(--color-background);
  background: var(--color-text);
}
