.navbar{
  background-color: #0e1212;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 5px 5px -8px black;
}

.nav-link{
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.wrapper{
  background-color: #0e1212;
  min-height: 100vh;
}

.container{
  padding-top: 40px;
  color: lightgrey;
}

.container section{
  padding-bottom: 40px;
}

.container .intro .name{
  padding-left: 60px;
}

.container .intro .name .name-right{
  padding-left: 10px;
  color: yellowgreen;
}

.container .intro .bio-short{
  padding-left: 60px;
}

.container .intro .bio-short .bio-short-right{
  padding-left: 40px;
  color: yellowgreen;
}

.inspiration{
  display: flex;
}

.tools{
  flex: 0 0 33%;
}

.music{
  flex: 0 0 33%;
}

.mental{
  flex: 0 0 33%;
}