.navbar{
  background-color: #0e1212;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 5px 5px -8px black;
}

.nav-link{
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}

.wrapper{
  background-color: #0e1212;
  min-height: 100vh;
}

.container{
  padding-top: 40px;
  color: lightgrey;
}

.container section{
  min-height: 100vh;
}

.static-container{
  padding: calc(50vh - 8rem) 0 0;
}

.intro{
  text-align: center;
}

.interest-groups{
  display: flex;
}

.group1{
  flex: 0 0 66%;
}

.group2{
  flex: 1;
}

.inspiration-groups{
  display: flex;
}

.tools{
  flex: 0 0 45%;
}

.music{
  flex: 0 0 40%;
}

.mental{
  flex: 0 0 15%;
}