/**************** Global ****************/
/* Hides scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
/* Optional: Position indicator */
::-webkit-scrollbar-thumb {
  background: #2aa198;
}

body{
  font-family:monospace;
}
body p, span{
  font-size: 16px;
}
.navbar{
  background-color: #0e1212;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  box-shadow: 0 5px 5px -8px black;
  max-width: 100vw;
}
.nav-link{
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
}
.wrapper{
  background-color: #0e1212;
  min-height: 100vh;
  max-width: 100vw;
  cursor: crosshair;
}
a:hover{
  cursor: cell;
}
.container{
  min-height: 90vh;
  color: lightgrey;
  padding: 0; 
  margin: 0;
  max-width: 100vw;
}
.container section{
  min-height: 100vh;
  max-width: 100vw;
}
.scrollTop{
  position: fixed;
  right: 75px;
  bottom: 75px;
  color: lightgrey;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.75;
}
.scrollTop:hover{
  opacity: 1;
}
.footer{
  color: lightgrey;
  min-height: 10vh;
}
.footer .info{
  display: flex;
  justify-content: center;
} 
.footer .contact-links{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .navbar, .wrapper, .container, .footer{
    min-width: 280px;
    max-width: 100vw;
    padding: 0;
  }
  .container h3{
    font-size: 20px;
  }
}

/**************** Home ****************/
.static-container{
  padding: calc(50vh - 8rem) 0 0;
}
.intro{
  text-align: center;
}
.intro .type-name span{
  font-size: 32px;
  font-weight: 500;
}
.interests, .aboutme, .projects, .project, .author, .skills, .links{
  padding-left: 25vw;
  padding-right: 25vw;
}
.interest-groups{
  display: flex;
}
.interest-groups a{
  color: lightgrey;
  transition: color 0.5s;
}
.interest-groups a:hover{
  color: #2aa198;
}
.group1{
  flex: 0 0 66%;
}
.group2{
  flex: 1;
}
.group1 div{
  white-space: normal;
}
.group2 div{
  white-space: normal;
}
.aboutme a{
  color: lightgrey;
  transition: color 0.5s;
}
.aboutme a:hover{
  color: #2aa198;
}
.timeline{
  font-size: 14px;
  color: grey;
  margin-block-start: 0;
  margin-block-end: 0;
}
.project-link{
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}
.project-link a{
  color: white;
  transition: color 0.5s;
}
.project-link a:hover{
  color: black;
}
.project-link p{
  color: white;
}
.path-project-bg, .flixlist-project-bg, .unity-project-bg{
  border-radius: 5px;
  width: 100vw;  
  height: 25vh;
}
.path-project-bg{
  background: url("/src/Components/Assets/Images/PathfindingVisualizer.jpg") no-repeat center / cover;
}
.flixlist-project-bg{
  background: url("/src/Components/Assets/Images/FlixList-Search.png") no-repeat center / cover;
}
.unity-project-bg{
  background: url("/src/Components/Assets/Images/GetMeOutOfHereCity.png") no-repeat center / cover;
}
.project-text{
  background: #2aa198;
  border-radius: 5px;
  margin: 12vh 0 5vh -5vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 812px) {
  body .interests, .aboutme, .projects{
    padding-left: 20vw;
    padding-right: 20vw;
  }
  .intro .type-name{
    font-size: 25px;
    padding-left: 10vw;
    text-align: center;
  }
  .static-container{
    max-width: 90vw;
  }
  .interests{
    max-width: 90vw;
  }
  .interest-groups{
    display: block;
  }
  .interests .group1{
    padding-bottom: 10px;
  }
  .aboutme{
    max-width: 80vw;
  }
  .projects{
    max-width: 80vw;
  }
  .project-link{
    display: block;
    flex-direction: column;
    max-width: 80vw;
  }
  .path-project-bg, .flixlist-project-bg, .unity-project-bg{
    width: 100%;  
  }
  .project-text{
    width: 90%;
    padding: 2px;
    padding-bottom: 1vh;
    margin: -5vh 0 5vh 3vw;
  }
}
@media screen and (max-width: 460px) {
  .project-text h3{
    font-size: 4vw;
  }
  .project-text p{
    font-size: 3vw;
  }
}

/**************** Work ****************/
.project{
  padding-bottom: 1.5vh;
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  width: 100%;
}
.project a{
  color: #2aa198;
  transition: color 0.5s;
}
.project a:hover{
  color: lightgrey;
}
.project-desc{
  padding-left: 5vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}
.project-image-wrapper{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
  padding-right: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2vh;
}
.project-image{
  flex: 0 0 66%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: opacity 0.5s;
  opacity: 0.6;
}
.project-image:hover{
  opacity: 0.8;
}
.specComment{
  font-size: 18px;
  color: grey;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media screen and (max-width: 800px) {
  body .project{  
    width: 90vw;
    padding-left: 20vw;
    padding-right: 10vw;
    display: block;
    flex-direction: column;
  }
  .project-image-wrapper{
    width: 150px;
    height: 150px;
    padding-right: 150px;
    margin: 0 auto;
  }
  .project-image{
    padding-right: 50px;
    object-fit: cover;
  }
  .project-desc{
    padding-top: 2vh;
    padding-bottom: 4vh;
  }
}

/**************** About ****************/
.author{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}
.profile-photo-wrapper{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 200px;
  height: 200px;
  padding-right: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-photo{
  width: auto;
  max-width: 300px;
  height: 100%;
  max-height: 240px;
}
.author .author-text{
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
}
.author .bio{
  padding-top: 20px;
  padding-bottom: 20px;
}
.author .bio p{
  margin: auto;
  padding: auto;
}
.progress{
  width: 80%;
  animation-name: growSkillBar;
  animation-duration: 2s;
  background-color: transparent;
}
.bg-info{
  color: #0e1212;
  padding-top: 8px;
  border-radius: 0.25rem;
  background: #2aa198 !important; 
}
.skills .languages, .tools, .links{
  padding-bottom: 2vh;
}
.skills .languages div, .tools div{
  padding-bottom: 1.5vh;
}
.links a{
  display: inline-flex;
  padding-right: 20px;
}
.links .icons{
  display: inline-flex;
}
.btn-outline-light:hover{
  color: #2aa198;
}
@keyframes growSkillBar{
  from {width: 0;}
  to {width: 80%;}
}

@media screen and (max-width: 800px) {
  body .author, .skills, .links{
    padding-left: 20vw;
    padding-right: 5vw;
  }
  .author{
    width: 90%;
    display: flex;
    flex-direction: column;
  }
  .profile-photo-wrapper{
    width: 150px;
    height: 150px;
    padding-right: 150px;
    margin-left: 10vw;
  }
  .author .author-text{
    padding-top: 2vh;
    padding-left: 0vw;
  }
  .author .bio{
    width: 90%;
  }
}

/**************** Surprise ****************/
.react-pdf__Document, .react-pdf__Page__canvas, .react-pdf__Page__textContent{
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}
.document-pdf {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-bottom: 20px;
  color: lightgrey;
}
.document-pdf .document-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .react-pdf__Document, .react-pdf__Page__canvas{
    width: auto;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

}

/**************** Contact ****************/
.contact-email{
  padding: calc(50vh - 8rem) 0 0;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.contact-email a{
  color: lightgrey;
  transition: color 0.5s;
}
.contact-email a:hover{
  color: #2aa198;
}
.contact-links{
  display: flex;
  justify-content: center;
}